@import url(./__item/navigation__item.css);
@import url(./__link/navigation__link.css);
.navigation {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 20px;
    padding: 0 0;
    margin: 0 0;
    align-content: end;
}
@media (max-width:375px) {
    .navigation {
        grid-template-columns: 1fr;
        grid-row-gap: 20px;
    }
}