.main__button {
    justify-self: center;
    width: 284px;
    height: 64px;
    margin-bottom: 80px;
    border-radius: 80px;
    border: 0px solid ;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    align-items: center;
    text-align: center;
    color: #1A1B22;
}
.main__button:active {
    background: #FFFFFF;
}
@media (max-width:768px) {
    .main__button {
        width: 240px;
        height: 56px;
    }
}
@media (max-width:768px) {
    .main__button {
        width: 90%;
        height: 56px;
    }
}