@import url(./__email/commit__email.css);
@import url(./__img/commit__img.css);
@import url(./__name/commit__name.css);
@import url(./__text/commit__text.css);
@import url(./__time/commit__time.css);
@import url(./__data/commit__data.css);
@import url(./__info/commit__info.css);
.commit {
    
    
    
    background: #ffffff;
    border-radius: 16px;
    padding: 24px;
    height: 288px;
}
@media (max-width:768px) {
    .commit {
        height: 242px;
        padding: 16px;
    }
}