@import url(./__img/critical-case__img.css);
@import url(./__result/critical-case__result.css);
@import url(./__text/critical-case__text.css);
.critical-case {
    display: grid;
    background: #F5F6F7;
    padding: 80px 0 80px 0;
}
