@import url(./__analytics/search-results__analytics.css);
@import url(./__title/search-results__title.css);
.search-results {
    width: 85%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
@media (max-width: 768px) {
    .search-results {
        width: 90%;
    }
}
@media (max-width: 375px) {
    .search-results {
        grid-template-columns: 1fr;
        grid-row-gap: 16px;
    }
}

