@import url(./__supersite/footer__supersite.css);
@import url(./__nav/footer__nav.css);
@import url(../link/link.css);
.footer {
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr;
    padding: 0 100px 0 100px;
}