@import url(./__img/card__img.css);
@import url(./__info/card__info.css);
@import url(./__sourse/card__sourse.css);
@import url(./__text/card__text.css);
@import url(./__time/card__time.css);
@import url(./__title/card__title.css);
.card {
    display: grid;
    background-color: white;
    border-radius: 5% 5% 0 0;
    overflow: hidden;
}
@media (max-width: 768px) {
    .card {
        border-radius: 20px 20px 0 0;
        height: 420px;
    }
}
