.commits__title {
    margin: 0;
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 46px;
    color: #1A1B22;
}
@media (max-width:768px) {
    .commits__title {
        font-size: 30px;
        line-height: 34px;
    }
}