.card-list {
    display: grid;
    margin: auto;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    width: 85%;
    margin: 0 auto;
}
@media all and (max-width: 768px) {
    .card-list {
        width: 90%;
    }
}
@media all and (max-width: 575px) {
    .card-list {
        grid-template-columns: 1fr 1fr;
    }
}
@media all and (max-width: 375px) {
    .card-list {
        grid-template-columns: 1fr;
    }
}