@import url(./__item/menu__item.css);
@import url(./__item/_active/menu__item_active.css);
@import url(./__link/menu__link.css);
.menu {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 34px;
    margin: 0 auto;
    padding-top: 30px;
    justify-items: center;
    align-content: stretch;
}